
@import 'fonts.css';
@import 'variables.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1350px;
}

img {
    max-width: 100%;
}

body{
    background: var(--bodyColor);
}

/* .header__nav{
    padding: 52px 0px 52px 0px;
} */

.header__nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 52px;
}

.header__nav-list{
    display: flex;
    gap: 42px;
}

.header__nav-icons{
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}


.header__nav-logo{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 32px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

.header__nav-list-link{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.header__nav-icon{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__nav-line{
    border: 2px solid var(--primaryColor);
    border-radius: 0.5px;
    margin-top: 20px;
}

/* .header__nav-list-link:hover{
    transition: .5s;
    background-color:  rgba(141, 40, 214, 0.29);
    box-shadow:  1px 1px 26px 15px rgba(141, 40, 214, 0.33);
} */

.header__nav-logo {
    
    cursor: pointer;
    position: relative;
    z-index: 0;
    /* border-radius: 10px; */
}

.header__nav-logo:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 7s linear infinite;
    opacity: 0;
    transition:  .3s ease-in-out;
    border-radius: 10px;
}

.header__nav-list-link:hover{
    color: #f81c1c;
    transition: .4s;
}



.header__nav-logo:active:after {
    background: transparent;
}

.header__nav-logo:hover:before {
    opacity: 1;
}

.header__nav-logo:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.nav__menu-btn {
    display: none;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.nav__menu-btn-line {
    width: 100%;
    height: 2px;
    background-color: #D50000;
    position: relative;
}

.nav__menu-btn-line::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #D50000;
    position: absolute;
    top: -7px;
}

.nav__menu-btn-line::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #D50000;
    position: absolute;
    top: 7px;
}

.nav__menu{
    position: relative;
    display: flex;
    align-items: center;
}

.nav__search {
    display: flex;
    gap: 4px;
}

.nav__search input {
    padding: 6px 12px;
    border: 1px solid #41A28E;
    outline: none;
    color: #4B4848;
    font-size: 14px;
    display: none;
}

.nav__search input::placeholder {
    color: #4B4848;
}

.nav__search button {
    /* padding: 0 7px;
    background: #41A28E; */
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}





.nav__search button:active {
    transform: scale(.95);
}




.header__left-item{
    overflow: hidden;
    max-width: 526px;
    width: 100%;
    position: relative;
    padding: 73px 0px 47px 0px;
    background: var(--cardColor);
}

.header__left-item-two{
    max-width: 526px;
    width: 100%;
    justify-content: center;
    padding: 73px 73px 47px 119px;
    background: var(--cardColor);
}

.left__item-dscr{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 16px;
    font-weight: 400;
}

.left__item-title{
    width: max-content;
    color: var(--blackColor);
    font-family: var(--mon);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.left__item-dscr-title{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.786px;
    text-transform: uppercase;
}

.header__left-item-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__left-item-contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__left-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 43px;
    border-radius: 10px;
    position: relative;
}
.header__left-item-two{
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    position: relative;
}

.header__left-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    
}

.header__left-item-content::after{
    content: '50%';
    position: absolute;
    top: 16px;
    left: 22px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
}
.header__left-item-contents::after{
    content: '20%';
    position: absolute;
    top: 16px;
    left: 22px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
}

.header__right-item-content::after{
    animation-name: sale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.header__left-item-content::after {
    animation-name: sale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes sale{
    0%{
        box-shadow: 6px 1px 39px 33px rgba(225, 83, 20, 0.2);
        transform: scale(1);
    }
    20%{
        box-shadow: 6px 1px 39px 33px rgba(20, 225, 44, 0.2);
        
    }
    30%{
        box-shadow: 6px 1px 39px 33px rgba(20, 225, 20, 0.281);
        
    }
    50%{
        box-shadow: 6px 1px 39px 33px rgba(20, 163, 225, 0.384);
        transform: scale(0.8);
    }
    60%{
        box-shadow: 6px 1px 39px 33px rgba(163, 225, 20, 0.26);
        
    }
    80%{
        box-shadow: 6px 1px 39px 33px rgba(225, 20, 204, 0.2);
        
    }
    100%{
        box-shadow: 6px 1px 39px 33px rgba(225, 20, 138, 0.2);
        transform: scale(1);
    }
}






.header__right-item{
    max-width: 746px;
    width: 100%;
    /* padding: 188px 100px 188px 110px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 10px;
    background: var(--cardColor);
}

.header__right-item-content{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.right__item-dscr{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 15px;
    font-weight: 400;
    line-height: 16.841px;
}

.right__item-title{
    width: max-content;
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 22px;
    font-weight: 700;
    line-height: 16.841px;
    text-transform: uppercase;
}

.right__item-dscr-title{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 15px;
    font-weight: 400;
    line-height: 16.841px;
    text-transform: uppercase;
}

.header__items{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 24px;
}

.header__right-item{
    position: relative;
    overflow: hidden;

}

.header__right-item-content::after{
    content: '50%';
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
}


/* main */

.liders__sells-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blackColor);
    font-family: var(--mon);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.liders__sells-line{
    border: 2px solid var(--primaryColor);
    border-radius: 0.5px;
    margin-top: 20px;

}

.header__nav-icone img{
    transition: .5s;
}

.header__nav-icone img:hover{
    transition: .5s;
    transform: scale(1.7);
}

.liders__sells-content{
   margin-top: 60px;
   margin-bottom: 40px;
}

.liders__items-card{
    padding: 72px 0px 39px 0px;
    max-width: 416px;
    width: 100%;
    border-radius: 10px;
    background: var(--cardColor);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.liders__items-card-icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 19px;
}

.liders__card-dscr{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 20px;
    font-weight: 400;
}

.liders__card-title{
    color: var(--blackColor);
    font-family: var(--mon);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.liders__card-title-dscr{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
}
/*  */
.liders__items-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.liders__items-card-content::after{
    content: 'new';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/*  */
.liders__items-card-content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.liders__items-card-content2::after{
    content: '15%';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/*  */
.liders__items-card-content3::after{
    content: '30%';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    
}
.liders__items-card-content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
/*  */
.liders__items-card-content4::after{
    content: '10%';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    
}
.liders__items-card-content4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

/*  */
.liders__items-card-content5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
/*  */
.liders__items-card-content6{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

/*  */
.liders__items-card-content7::after{
    content: '50%';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    
}
.liders__items-card-content7{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
/*  */
.liders__items-card-content8::after{
    content: '20%';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    
}
.liders__items-card-content8{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
/*  */
.liders__items-card-content9::after{
    content: '30%';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    
}
.liders__items-card-content9{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
/*  */

.liders__items-card-content10{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
/*  */

.liders__items-card-content11::after{
    content: '10%';
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background: var(--primaryColor);
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 11px 39px;
    
}
.liders__items-card-content11{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

/*  */
.liders__items-card-content12{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}



.liders__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}

.liders__items-card-icons img{
    transition: .5s;

}
.liders__items-card-icons img:hover{
    transition: .5s;
    transform: scale(1.4);
}

.main__more-title{
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.main__news-title{
    text-align: center;
    color: var(--blackColor);
    font-family: var(--mon);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}



.main__news-content{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.main__news-control{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news__item-card{
    max-width: 636px;
    width: 100%;
    padding: 110px 0px 60px 60px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.70) 0%, rgba(50, 50, 50, 0.70) 100%), url(../images/main__card1.png), lightgray 50% / cover no-repeat;
}
.news__item-card2{
    max-width: 636px;
    width: 100%;
    padding: 110px 0px 60px 60px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.70) 0%, rgba(50, 50, 50, 0.70) 100%), url(../images/main__card2.png), lightgray 50% / cover no-repeat;
}

.news__card-title{
    max-width: 466px;
    width: 100%;
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-weight: 700;
    font-variant: all-small-caps;
}

.news__card-dscr{
    max-width: 462px;
    width: 100%;
    color: var(--cardColor);
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-variant: all-small-caps;
}

.news__card-data-dscr{
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.news__card-data{
    display: flex;
    margin-top: 100px;
    gap: 10px;
}

.news__card-contents{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news__item-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
}
.news__item-card2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
}

.news__card-contents::after{
    content: 'Советы';
    color: var(--primaryColor);
    font-family: var(--mon);
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 8px;
    background: var(--white-color);
    padding: 13px 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.news__item-card:hover{
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: .5s;
}
.news__item-card2:hover{
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: .5s;
}

@keyframes grow{
    0%{
        box-shadow: 1px 1px 24px 21px rgba(211, 76, 34, 0.52);
    }
    25%{
        box-shadow: 1px 1px 24px 21px rgba(42, 211, 34, 0.52);
    }
    50%{
        box-shadow: 1px 1px 24px 21px rgba(34, 171, 211, 0.52);
    }
    75%{
        box-shadow: 1px 1px 24px 21px rgba(92, 34, 211, 0.52);
        
    }
    100%{
        box-shadow: 1px 1px 24px 21px rgba(211, 34, 135, 0.55); 
    }
}

.content__news-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 35px;
    margin-bottom: 60px;
}


.footer{
    background: var(--primaryColor);
}

.footer__content{
    padding-top: 100px;
    padding-bottom: 87px;
    display: flex;
    gap: 200px;
}

.totembo__content-dscr{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.totembo__content-dscr-style{
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.totembo__title{
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 32px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

.totembo__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.totembo__content2{
    
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.totembo__content3{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tovar__title{
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.number__control{
    display: flex;
    gap: 10px;
}

.socails__control{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.socials__title{
    /* margin: 60px 0px 40px 0px; */
    color: var(--white-color);
    font-family: var(--mon);
    font-size: 18px;
    font-weight: 400;
    font-variant: all-small-caps;
    letter-spacing: 2.5px;
}

.socials__icons{
    display: flex;
    gap: 26px;
}

.f__icons img{
    transition: .5s;
}
.f__icons img:hover{
    transform: scale(1.4);
    transition: .5s;
}




